@model WebApp_ASP.NET_Core_MVC.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create Product</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">Category Id</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label">Product Name</label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnitPrice" class="control-label">Unit Price</label>
                    <input asp-for="UnitPrice" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDetails" class="control-label">Product Details</label>
                    <input asp-for="ProductDetails" class="form-control" />
                    <span asp-validation-for="ProductDetails" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductImage" class="control-label">Product Image</label>
                    <input asp-for="ProductImage" class="form-control" />
                    <span asp-validation-for="ProductImage" class="text-danger"></span>
                </div>
                <div class="border border-info form-group p-3">
                    <label asp-for="DisplaySize" class="control-label">Display Size(s) in Inch</label>

                    <table id="dynamic_table">
                        <tbody>
                            <tr id='addr0'>
                                <td>
                                    <input asp-for="DisplaySize" name="DisplaySize[]" id="display_size0" class="form-control m-1" type="number" />
                                </td>
                            </tr>
                            <tr id='addr1'></tr>
                        </tbody>
                    </table>

                    <span asp-validation-for="DisplaySize" class="text-danger"></span>
                    <div class="pt-2 text-md-right">
                        <a id="addmore" class="text-light btn btn-success mr-1">Add More</a>
                        <a id='delete' class="text-light btn btn-danger">Delete</a>
                    </div>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="isActive" /> @Html.DisplayNameFor(model => model.isActive)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    $(document).ready(function () {
        var i = 1;
        $("#addmore").click(function () {
            $('#addr' + i).html('<td><input asp-for="DisplaySize" name="DisplaySize[]" id="display_size' + i +'" class="form-control m-1" type="number" /></td>');

            $('#dynamic_table').append('<tr id="addr' + (i + 1) + '"></tr>');
            i++;
        });
        $("#delete").click(function () {
            if (i > 1) {
                $("#addr" + (i - 1)).html('');
                i--;
            }
        });
    });
</script>
}


