@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Online Shop</h1>
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in ViewBag.Data)
            {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
        </tr>
            }
    </tbody>
</table>*@
